
######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
../node_modules/
../images/
../target/
package-lock.json
../frontend/node_modules/
frontend/package-lock.json
######################
# SASS
######################
.sass-cache/


######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
*.xhtml

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/log/
/target/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
.eslintcache


######################
# Other
######################
frontend/package-lock.json
/docker/com/whertotravel/whertotravel/maven-metadata.xml.md5
images/**
targer/**